<% if (theme.donate) { %>
  <!-- css -->
  <style>
    .donate_bar {
      text-align: center;
      margin-top: 5%
    }
    .donate_bar a.btn_donate {
        display: inline-block;
        width: 82px;
        height: 82px;
        margin-left: auto;
        margin-right: auto;
        background: url(http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif)no-repeat;
        <!-- 因为本 hexo 生成的博客所用的 theme 的 a:hover 带动画效果，为了在让打赏按钮显示效果正常 而 添加了以下几行 css，嵌入其它博客时不一定要它们。本段注释请在添加时删除-->
        -webkit-transition: background 0s;
        -moz-transition: background 0s;
        -o-transition: background 0s;
        -ms-transition: background 0s;
        transition: background 0s
    }
    .donate_bar a.btn_donate:hover {
        background-position: 0 -82px
    }
    .donate_bar .donate_txt {
        display: block;
        color: #9d9d9d;
        font: 14px/2 "Microsoft Yahei"
    }
    .donate_bar.hidden{
        display: none
    }
    .post-donate{
        margin-top: 80px;
    }
    #donate_guide{
        height: 210px;
        width: 420px;
        margin: 0 auto;
    }
    #donate_guide img{
        height: 200px;
        height: 200px;
    }
  </style>
  <div class ="post-donate">
      <div id="donate_board" class="donate_bar center">
          <a id="btn_donate" class="btn_donate" href="javascript:;" title="打赏"></a>
          <span class="donate_txt">
            ↑<br>
            <%=theme.donate_message%>
          </span>
          <br>
        </div>  
      <div id="donate_guide" class="donate_bar center hidden" >
          <!-- 方式一： 
              ![](/img/Alipay.jpg)
              ![](/img/WeChatpay.jpg)
          -->
          <!-- 方式二；
              step1：在_config.yml中添加配置
                  Alipay: /img/Alipay.jpg
                  WeChatpay: /img/WeChatpay.jpg
              step2：此处两张图片的路径分别设置为如下
                  <img src="<%- theme.root_url %><%=theme.Alipay%>"
                  <img src="<%- theme.root_url %><%=theme.WeChatpay%>"
          -->
          <!-- 支付宝打赏图案 -->
          <img src="/donate-page/images/AliPayQR.png" alt="支付宝打赏">
          <!-- 微信打赏图案 -->
          <img src="/donate-page/images/WeChanQR.png" alt="微信打赏">
      </div>
      <script type="text/javascript">
          document.getElementById('btn_donate').onclick = function(){
              $('#donate_board').addClass('hidden');
              $('#donate_guide').removeClass('hidden');
          }
      </script>
  </div>
<% } %>